
/* nav bar */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  width: 100%;
  float: right;
}

.logo {
  height: 20%;
  width: 20%;
  max-width: 200px;
}

.banner-img {
  width: 100%;
}

.cards {
  text-align: center;
  padding-top: 4em;
  padding-bottom: 4em;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: avenir, sans-serif;
}

li a:hover {
  background-color: #f89939;
}

/* end nav bar */

.header {
  width: 100%;
  padding-top: 4em;
}

.banner {
  width: 100%;
}

h1 {
  position: absolute;
  top: 158px;
  left: 0;
  width: 100%;
  text-align: center;
}

h1 span {
  color: white;
  font: bold 24px/45px Helvetica, sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  text-align: center;
}

h2 {
  color: black;
  font: bold 24px/45px Helvetica, sans-serif;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 -3.7rem;
}

.content {
  color: white;
  font: bold 24px/45px Helvetica, sans-serif;
  letter-spacing: 2px;
  padding: 1px;
  text-align: center;
}

.inner {
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  color: white;
  text-align: center;
}

footer {
  background-color: #000;
  padding-top: .5em;
  padding-bottom: .5em;
}

.footer-text {
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  color: white;
  text-align: center;
}

.d {
  width: 48px;
  display: inline-block;
  position: absolute;
  height: 50px;
  background: no-repeat top left;
}

/* media queries */

@media only screen and (min-width: 38em) {

  .banner-img {
    width: 100%;
  }

  html {
    font-size: 100%;
    line-height: 1.4;
  }

  .content {
    width: 48%;
    display: inline-block;
    vertical-align: middle;
    max-width: 25em;
  }

}
